@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

/* Apply the flicker animation to the box class */
.flickerNotify {
  animation: flicker 1s infinite; 
  background-color: #f0f0f0; 
  border: 2px solid #cf0404; 
  padding: 10px; 
  border-radius: 5px; 
  transition: animation 0.5s ease; 
}

/* Stop flickering on hover */
.flickerNotify:hover {
  animation: none; 
}



#container{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 30px;
  width: 100%;
  height: 100vh;
  padding-top: 100px;

}
#wrapper{
  height: auto;
  width: 400px;
  
}
#sidebar {
    padding: 15px 10px 15px 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 100%;
}

#sidebar .h4 {
    font-weight: 500;
    padding-left: 15px;
    color: white;
}

#sidebar ul {
    list-style: none;
    margin: 0;
    padding-left: 0rem;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

#sidebar ul li {
    padding: 10px 0;
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    /* border-left: 5px solid black;
    border-right: 5px solid black; */
    background-color: #ffffff;
    width: 100%;
}

/* #sidebar ul li.active {
    border-left: 5px solid #ff5252;
    background-color: #44007c;
} */

#sidebar ul li a {
    display: block;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(168, 164, 164);
    
}

#sidebar ul li a .fas,
#sidebar ul li a .far {
    color: #000000;
    background-color: rgb(255, 255, 255);
}

#sidebar ul li a .link {
    color: #000000;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
}

#sidebar ul li a .link-desc {
    font-size: 0.8rem;
    color: #000000;
    background-color: rgb(255, 255, 255);
}
#sidebar ul li:hover{
 transform: scale(1.01);
 width: 100%;

}

#main-content {
    padding: 30px;
    border-radius: 15px;
}

#main-content .h5,
#main-content .text-uppercase {
    font-weight: 600;
    margin-bottom: 0;
}

#main-content .h5+div {
    font-size: 0.9rem;
}

#main-content .box {
    padding: 10px;
    border-radius: 6px;
    width: 170px;
    height: 100px;
}

#main-content .box img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

#main-content .box .tag {
    font-size: 0.9rem;
    color: #000;
    font-weight: 500;
}

#main-content .box .number {
    font-size: 1.5rem;
    font-weight: 600;
}

.order {
    padding: 10px 30px;
    min-height: 150px;
}

.order .order-summary {
    height: 100%;
}

.order .blue-label {
    background-color:  #008357;
    color: #ffffff;
    font-size: 0.9rem;
    padding: 0px 3px;
}
.order .red-label {
    background-color:  #e11c1c;
    color: #ffffff;
    font-size: 0.9rem;
    padding: 0px 3px;
}
.order .green-label {
    background-color:  #008357;
    color: #ffffff;
    font-size: 0.9rem;
    padding: 0px 3px;
}

.order .fs-8 {
    font-size: 0.85rem;
}

.order .rating img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.order .rating .fas,
.order .rating .far {
    font-size: 0.9rem;
}

.order .rating .fas {
    color: #daa520;
}

.order .status {
    font-weight: 600;
}

.order .btn.btn-primary {
    background-color: #fff;
    color: #000000;
    border: 1px solid #000000;
}

.order .btn.btn-primary:hover {
    background-color: #000000;
    color: #fff;
}

.order .progressbar-track {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.order .progressbar-track .progressbar {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0rem;
    flex-direction: row;
}

.order .progressbar-track .progressbar li {
    font-size: 1.5rem;
    border: 1px solid #333;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: #dddddd;
    z-index: 1;
    position: relative;
}

.order .progressbar-track .progressbar li.green {
    border: 2px solid #000000;
    background-color: #ffffff;
}
.order .progressbar-track .progressbar li.success {
    border: 2px solid #adf385;
    background-color: #ffffff;
    transition: all 0.5s ease; 
     /* animation: flicker 1s infinite;  */
   
}
.order .progressbar-track .progressbar li.delivered {
    border: 2px solid #adf385;
    background-color: #c9efbb;
    transition: all 0.5s ease; 
    
}
.order .progressbar-track .progressbar li::after {
    position: absolute;
    font-size: 0.9rem;
    top: 50px;
    left: 0px;
}

#tracker {
    position: absolute;
    border-top: 3px solid #82f41e;
    width: 100%;
    top: 25px;
    transition: all 0.5s ease; 
}

#step-1::after {
    content: 'Placed';
}

#step-2::after {
    content: 'Accepted';
    left: -10px;
}

#step-3::after {
    content: 'Packed';
}

#step-4::after {
    content: 'Shipped';
}

#step-5::after {
    content: 'Delivered';
    left: -10px;
}
#cancelOrder{
  width: 15%;
  margin-top: 10px;
  margin-left: 10px;
}


/* Backgrounds */
.bg-purple {
    background-color: #55009b;
}

.bg-light {
    background-color: #f0ecec !important;
}

.green {
    color: #007965 !important;
}

/* Media Queries */
@media(max-width: 1199.5px) {
    nav ul li {
        padding: 0 10px;
    }
}

@media(max-width: 500px) {
    .order .progressbar-track .progressbar li {
        font-size: 1rem;
    }

    .order .progressbar-track .progressbar li::after {
        font-size: 0.8rem;
        top: 35px;
    }

    #tracker {
        top: 20px;
    }
}

@media(max-width: 440px) {
    #main-content {
        padding: 20px;
    }

    .order {
        padding: 20px;
    }

    #step-4::after {
        left: -5px;
    }
}

@media(max-width: 395px) {
    .order .progressbar-track .progressbar li {
        font-size: 0.8rem;
    }

    .order .progressbar-track .progressbar li::after {
        font-size: 0.7rem;
        top: 35px;
    }

    #tracker {
        top: 15px;
    }

    .order .btn.btn-primary {
        font-size: 0.85rem;
    }
}

@media(max-width: 355px) {
    #main-content {
        padding: 15px;
    }

    .order {
        padding: 10px;
    }
}