.RandomProduct-wrapper{
max-width: 100%;
padding: 10px;
}
.BestProducts{
  width: 100%;
  display: flex;
  flex-direction: column;
  
  /* border: 15px solid black; */

}
.BestProducts #top{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.BestProducts .row1{
display: flex;
flex-direction: row;
width: 100%;

}
.BestProducts .row1 img{
  min-width: 150px;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}
.BestProducts .row2{
  display: flex;
  flex-direction: row;
  width: 100%;

  }
.BestProducts .row2 img{
  min-width: 150px;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}
@media (max-width:450px){
  .BestProducts{
    border: 5px solid black;
  border-left:4px solid black ;
  border-right: 4px solid black ;
  }
  .BestProducts .row1 img{
    min-width: 100px;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  .BestProducts .row2 img{
    min-width: 100px;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
  }
  .RandomProduct-wrapper{
   
    padding: 0px;
    }
}