.payment-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f2f5;
}

.payment-container {
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 80%;
  max-width: 900px;
}

.left-section {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.phonepe-img {
  width: 100%;
  margin-bottom: 20px;
  height: 70%;
  object-fit: cover;
  mix-blend-mode: multiply;
}

.instructions {
  text-align: left;
  font-weight: 900;
}


.instructions ul {
  list-style-type: decimal;
  padding: 0;
  padding-left: 12px;
}

.instructions ul li {
  margin-bottom: 10px;
  font-size: 14px;
}

.right-section {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-section h3 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 900;
}

.form-group {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.form-group input {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

.transaction-btn {
  width: 50%;
  padding: 12px;
  font-size: 16px;
  background-color: #000000;
  color: white;
  border-radius: 5px;
  cursor: pointer;
margin-left:25%;

}

.transaction-btn:hover {
  background-color: #ffffff;
  color: black;
  border: 1px soild rgb(0, 0, 0);
}
.transaction-btn:active {
  background-color: #d8d6d645;
  color: black;
  border: 1px soild rgb(0, 0, 0);
}
